body, html {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box;
}

main{
    width: 70%;
    margin: auto;
    margin-top: 10px;
}

.flex{
    display: flex;
}